<template>
    <footer class="footer-outercont">
            <div class="container max-w-1100 flex flex-col md:flex-row justify-between"> 
                <div class="footer-logo-block">
                    <img src="@/assets/images/logo_aenea.png" alt="Logo">
                </div>
                <div class="right-cont-block">
        
                    <ul class="navigation">
                        <li><a href="#">DIE SUITEN</a></li>
                        <li><a href="#">DAS RESTAURANT</a></li>
                        <li><a href="#">GALERIE</a></li>
                        <li><a href="#">DIE EXKLUSIVITÄT</a></li>
                    </ul>
                    <div class="contact-block">
                        <h3>KONTAKT</h3>
                        <p><a href="tel:+436648229000">+43 664 822 9000</a>
                            <a href="mailo:hotel@aenea.at">hotel@aenea.at</a>
                            Anreise über Google Maps</p>
                            <div class="icons-blk">
                                <a href="#"><img src="@/assets/images/facebook_icon.png" alt="Facebook"></a>
                                <a href="#"><img src="@/assets/images/instagram_icon.png" alt="instagram"></a>
                            </div>
                    </div>

                </div>
            </div>


        </footer>
        <div class="fixed  w-auto h-auto right-5 md:right-60r bottom-5 md:bottom-70b z-50">
            <a href="#" class="main-button">JETZT BUCHEN</a>
        </div>
</template>
<script>
    export default {
        name: "Footer"
    };
</script>