<template>
  <header class="w-full h-20 md:h-134 fixed bg-white px-5 md:px-60 flex items-center justify-between md:justify-start z-999">
            <div class="logo-outer">
                <a href="#"><img src="@/assets/images/logo_aenea.png" alt="Logo"></a>
            </div>
            <div class="back-linkblk" v-if="!homePage()"><a href="#">&lt; zurück zur Startseite</a></div> 
            <div @click="toggleMenu()" class="nav-trigger" :class="{'nav-active' :isOpen == true}" v-if="homePage()"><span></span><span></span><span></span></div>
        </header>
</template>

<script>
export default {
    name: "Header",
    data() {
        return {
            isOpen : false
        }
    },
    methods: {
      homePage() {
        if(this.$route.path == "/" || this.$route.path == "/home" ) {
          return true
        } else {
          return false
        }
      },
      toggleMenu() {
        if (this.isOpen) {
          this.$root.toggleBodyClass('removeClass', 'menu--active')
        } else {
          this.$root.toggleBodyClass('addClass', 'menu--active')
        }
        
        this.isOpen = !this.isOpen;
      }
    }
};
</script>
