<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aenea | Home</title>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
</head>

<body class="min-h-screen">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" class="min-h-screen"></div>

    <!-- built files will be auto injected -->
  </body>
</html>
