<template>
  <section class="top-main-blockouter pt-134 w-full h-auto">
            <div class="container-fluid pb-10 md:pb-72  pt-10 md:pt-100"> 
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-5 lg:gap-x-10"> 
                        <div>
                            <div class="max-w-none md:max-w-590 pr-5 md:pr-0 pb-5 md:pb-0 -mt-4 pl-5 xl:pl-0 float-right"> 
                              <div class="w-full float-left"> 
                                  <h1 class="inner-main-title"><span>{{detail.title}}</span></h1> 
                                </div>
                                <div v-html="detail.description">
                                  
                                </div>
                            </div>
                        </div>
                        <div class="min-h-0 md:min-h-750">
                            <img class="w-full h-full object-cover" :src="require('@/'+detail.image)" alt="image">
                        </div>
                    </div>
                </div>
        </section>

<section class="gallery-outercont bg-lighterbg px-5 pt-10 pb-10 2xl:px-0 md:pt-72 md:pb-72 xl:pt-150 xl:pb-200">
    <div class="container max-w-1600"> 

        <ul class="grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-10">  
            <li v-for="(image, index) in detail.gallery" :key="index"><a href="#"><img :src="require('@/'+image.image)" alt="image"></a></li>
        </ul>
 
    </div>
</section>

<div class="back-btn-bottom"><a href="#">&lt; zurück zur Startseite</a></div> 
</template>

<script>

export default {
  name: 'Gallery',
  components: {
  },
  data() {
    return { 
      detail: {
        title: "DIE SUITEN",
        description: "<p class='pb-7'> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p><p class='pb-7'>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>",
        image : "assets/images/details-img1.jpg",
        gallery: [
          {
            image : 'assets/images/listing-img1.jpg'
          },
          {
            image : 'assets/images/listing-img2.jpg'
          },
          {
            image : 'assets/images/listing-img2.jpg'
          },
          {
            image : 'assets/images/listing-img1.jpg'
          },
          {
            image : 'assets/images/listing-img2.jpg'
          },
          {
            image : 'assets/images/listing-img1.jpg'
          },
          {
            image : 'assets/images/listing-img1.jpg'
          },
          {
            image : 'assets/images/listing-img2.jpg'
          },
          {
            image : 'assets/images/listing-img1.jpg'
          }
        ]
      },
    };
  },
}
</script>
