<template>
    <Loader :isLoading="isLoading" />
    <div v-if="!isLoading">

       <div @click="toggleMenu()" class="trigger-navblock" :class="{'nav-activetrigger' :menuOpen == true}">
            <i></i><span>MENÜ </span>
        </div>

        <!-- navigation section -->
        <div class="nav-main-outercont" :class="{'nav-active-blk' :menuOpen == true}">
            <div class="nav-block w-full min-h-screen h-auto overscroll-auto pt-20 md:pt-134 px-5 sm:px-60">
                <div class="h-auto">    
                    <ul class=" pt-5 md:pt-50">
                        <li><a href="#">DIE SUITEN</a></li>
                        <li><a href="#">DAS RESTAURANT</a></li>
                        <li><a href="#">GALERIE</a></li>
                        <li><a href="#">DIE EXKLUSIVITÄT</a></li>
                        <li><a href="#">JETZT BUCHEN</a></li> 
                    </ul> 
                    <div class="contact-block">
                        <h3>KONTAKT</h3>
                        <p><a href="tel:+436648229000">+43 664 822 9000</a>
                            <a href="mailo:hotel@aenea.at">hotel@aenea.at</a>
                            Anreise über Google Maps</p>
                            <div class="icons-blk">
                            <a href="#"><img src="@/assets/images/facebook_icon.png" alt="Facebook"></a>
                            <a href="#"><img src="@/assets/images/instagram_icon.png" alt="instagram"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  <!-- banner section -->
        <section class="w-full h-screen relative z-40">
            <div class="w-full h-screen overflow-hidden ">
                <img  class="w-full h-full object-cover" src="@/assets/images/hero_img1.jpg" alt="Image">
            </div>
            <div class="banner-content">
                <h1>Der Inspirierende Wörthersee</h1>
            </div>
        </section>
        <!-- banner section -->




        <section class="w-full h-auto pt-10 lg:pt-100 pb-10 lg:pb-131 bg-lighterbg">
            <div class="container-fluid">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-5 lg:gap-x-10">
                    <div class="col-span-1 md:col-span-2">
                        <div class="w-full md:w-1/2 text-right float-left pr-0 md:pr-3 pb-10 md:pb-5 lg:pb-46">
                            <h2 class=" px-5 md:px-0 text-center text-smh2 tracking-para md:tracking-h2 leading-10 lg:leading-mainh2 lg:text-h2 max-w-none md:max-w-450 md:float-right md:text-right ">Suiten am Wörthersee</h2>
                        </div>
                    </div>
                    <div>
                        <img class="w-full h-full object-cover" src="@/assets/images/content_img1.jpg" alt="image">
                    </div>
                    <div class="max-w-none md:max-w-560 pt-8 md:pt-13  pl-5 md:pl-0 pr-5">
                        <h3 class="pb-18">Verbindet gekonnt atemberaubenden Ausblick mit modernem Wohnkomfort.</h3>
                        <p class="pb-38">Stellen Sie sich einen luxuriösen Rückzugsort direkt am Südufer eines der beliebtesten internationalen Badeseen vor.</p>
                        <h3 class="pb-18">MITTEN IM HERZEN VON ALPEN ADRIA. DER SCHÖNSTE PLATZ AM WÖRTHERSEE.</h3>
                        <p class="pb-38">Das Hotel AENEA liegt in Sekirn bei Reifnitz direkt am Wörthersee und bietet von allen Stockwerken aus einen traumhaften Blick auf den Pyramidenkogel und das türkisblaue Wasser. Das Erdgeschoß beinhaltet den Empfangs- bzw. Lobbybereich und öffnet den Blick auf das voll ausgestattete Restaurant. Insgesamt 15 modern ausgestattete Suiten verteilen sich auf mehrere Stockwerke. Die Terrassen bieten einen der schönsten Ausblicke auf den Wörthersee. Ein Panoramalift führt direkt zum Seezugang mit Badesteg, großzügiger Liegewiese und zur Marinaanlage. Im Außenbereich befindet sich eine Poolanlage sowie das Poolgebäude inkl. Fitnesscenter und der hauseigene Tennisplatz. Im Strandhaus befindet sich zusätzlich eine Seesauna.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="w-full h-auto">
            <div class="container-fluid"> 
                <div class="grid grid-cols-1 md:grid-cols-2 gap-0">
                    <div class="single-image-block">
                        <a href="#gallery">
                            <div class="title-cont center-title left-1/2 top-1/2 -ml-114 -mt-70">
                                <h2 >DIE SUITEN</h2>
                            </div>
                            <div class="image-container"> <img src="@/assets/images/gallery_img1.jpg" alt="image"></div>
                        </a>
                    </div>
                    <div class="single-image-block">
                        <a href="#gallery">
                            <div class="title-cont left-9 top-14 xl:top-108">
                                <h2>DAS RESTRAUANT</h2>
                            </div>
                            <div class="image-container"> <img src="@/assets/images/gallery_img2.jpg" alt="image"></div>
                        </a>
                    </div>
                    <div class="col-span-1 md:col-span-2">
                        <div class="large-image-block">
                            <a href="#gallery">
                                <div class="large-imagecontainer opacity-60 hover:opacity-100 duration-500 delay-100 leading-none" ><img src="@/assets/images/gallery_img3.jpg" alt="image"></div>
                            </a>
                        </div>
                    </div>
               </div> 
            </div>
        </section>

        <section class="listing-container">
            <div class="container">  
                <h2 class="pb-8 lg:pb-12 w-full text-center text-smh2 tracking-para md:tracking-h2 leading-10 lg:leading-mainh2 lg:text-h2 md:float-right">DIE EXKLUSIVITÄT</h2>
                <h3 class="pb-2 w-full text-center">Die Annehmlichkeiten</h3>
                <p class=" w-full text-center">Für den maximalen Wohlfühlfaktor gibt es</p> 
                 <ul>
                    <li>
                        <div class="icon-block"><img src="@/assets/images/list_icon1.png" alt=""></div>
                        <h3 class="normal-case">EIN POOLGEBÄUDE INKLUSIVE FITNESSCENTER</h3>
                    </li>
                    <li>
                        <div class="icon-block"><img src="@/assets/images/list_icon2.png" alt=""></div>
                        <h3 class="normal-case">EINEN HAUSEIGENEN TENNISPLATZ</h3>
                    </li>
                    <li>
                        <div class="icon-block"><img src="@/assets/images/list_icon3.png" alt=""></div>
                        <h3 class="normal-case">EIN STRANDHAUS INKLUSIVE SEESAUNA</h3>
                    </li>
                    <li>
                        <div class="icon-block"><img src="@/assets/images/list_icon4.png" alt=""></div>
                        <h3 class="normal-case">EINEN AUßENPOOL</h3>
                    </li>
                    <li>
                        <div class="icon-block"><img src="@/assets/images/list_icon5.png" alt=""></div>
                        <h3 class="normal-case">BADESTRAND MIT BADESTEG </h3>
                    </li>
                    <li>
                        <div class="icon-block"><img src="@/assets/images/list_icon6.png" alt=""></div>
                        <h3 class="normal-case">EINE GROßZÜGIGE MARINAANLAGE</h3>
                    </li>
                 </ul>
            </div>
        </section>

        <section  class="details-blockouter">
            <div class="container max-w-1200 ">
                <h2 class="text-center text-smh2 tracking-para md:tracking-h2 leading-10 lg:leading-mainh2 lg:text-h2 w-full">Umgebung</h2>
                <div class="pt-10 lg:pt-100">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10">
                        <div>
                            <h3>ATTRAKTIVE AUSFLUGSZIELE</h3>
                            <p>Unternehmungslustige finden in Kärnten zahlreiche sehens- und erlebenswerte Ausflugsziele. Künstlerische, wildromantische, tierische, edle, sportive, aber auch aussichtsreiche, wie den <span>Pyramidenkogel in Keutschach:</span>Wer sich einen genauen Überblick über alle Angebote der Region verschaffen möchte, erklimmt den mit seinen fast 100 Metern welthöchsten Aussichtsturm aus Holz. Auf den 13 Aussichtsplattformen genießt man einen 360°-Rundumblick auf die gesamte Region Wörthersee. Und natürlich auch auf Ihr neues Ferienidyll gleich schräg gegenüber.</p>

                            <h3>GANZJÄHRIG WETTERFEST</h3>
                            <p>Die Lage Kärntens inmitten den mächtigen Karawanken im Südosten, der Karnischen Alpen längs der Grenze zu Italien und der Lienzer Dolomiten sind verantwortlich für Kärntens angenehmes Klima kombiniert mit den meisten Sonnenstunden Österreichs.</p>

                            <h3>SANFT SONNENGEKÜSST </h3>
                            <p>Alpensüdseite vor den Wetterfronten aus dem Norden. So kann Kärnten gelassen und unbeschwert – auch klimatisch gesehen – vom Süden profitieren. Mit ein Grund, warum die Temperaturen der warmen Badeseen auf mehr als 20 Grad klettern. Und auch ein Grund dafür, warum das Klima Kärntens dem Oberitaliens ähnelt.</p>   
                        </div>
                        <div>
                            <h3>DIE ZENTRALE LAGE IM HERZEN VON ALPE-ADRIA</h3>
                            <p>In Kärnten finden wir das Unvergessliche: Die Kulturen aus drei Ländern – Österreich, Slowenien und Italien – verschmelzen auf der Alpensüdseite im südlichsten Bundesland Österreichs zu einem großen mediterranen Ganzen. Spürbar, fühlbar und erlebbar durch das südliche Temperament, die köstlich inspirierten Küchenkreationen und das milde, sonnige Klima, das den Sommer schon im Frühling einläutet und uns bis in den späten Herbst treu begleitet.</p>    

                            <h3>DAS MILDE KLIMA</h3>
                            <p>Das Hotel AENEA liegt in Sekirn bei Reifnitz direkt am Wörthersee und bietet von allen Stockwerken aus einen traumhaften Blick auf den Pyramidenkogel und das türkisblaue Wasser. Das Erdgeschoß beinhaltet den Empfangs- bzw. Lobbybereich und öffnet den Blick auf das voll ausgestattete Restaurant. Insgesamt 15 modern ausgestattete Suiten verteilen sich auf mehrere Stockwerke. Die Terrassen bieten einen der schönsten Ausblicke auf den Wörthersee. Ein Panoramalift führt direkt zum Seezugang mit Badesteg, großzügiger Liegewiese und zur Marinaanlage. Im Außenbereich befindet sich eine Poolanlage sowie das Poolgebäude inkl. Fitnesscenter und der hauseigene Tennisplatz. Im Strandhaus befindet sich zusätzlich eine Seesauna.</p>     
                        </div>
                    </div>
                </div>
            </div>
        </section>
      

        <section class="w-full h-auto pt-10 lg:pt-100 pb-0 md:pb-10 lg:pb-200 ">
            <div class="container-fluid">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-5 lg:gap-x-10">

                    <div class="col-span-1 md:col-span-2 px-5 md:px-0">
                        <div class="w-full md:w-1/2 text-left float-right pr-0 md:pl-4 pb-0 md:pb-5 lg:pb-46"> 
                        <h3 class='text-primary pb-1'>DER INSPIRIERENDE WÖRTHERSEE</h3>
                        <h2 class="text-smh2 tracking-para md:tracking-h2 leading-10 lg:leading-mainh2 lg:text-h2 w-full">SEEN-SUCHT!</h2>
                        </div>
                    </div>
                <div>
                    <div class="max-w-none w-full md:max-w-560 pb-5 md:pb-0 pt-5 md:pt-13 pr-5 xl:pr-0 pl-5 xl:pl-0 float-right">
                        <!-- single section -->
                       <div class="single-block" :class="{'active-block' :selectedAccordion == 'accord1'}">
                            <div class="header-blk w-full h-auto" @click="toggleAccordion('accord1')">
                                <h3><i></i>SCHILLERNDE NATURKULISSE</h3>
                            </div>
                            <div class="content-body">
                                <p>Türkisblaues, bis zu 28 Grad warmes Wasser mit Trinkwasserqualität, unzählige Sonnenstunden, entspannte Leichtigkeit. Der Wörthersee präsentiert sich uns von der Sonnenseite. Wir schwimmen im mediterranen Lebensgefühl, das man in dieser Form nur mitten in Kärnten findet, auf der Südseite der österreichischen Alpen. Wo der Sommer früher beginnt und dafür später endet. Von der Mitte des 19. Jahrhunderts bis in die Dreißiger Jahre des 20. Jahrhunderts war der Wörthersee ein besonders wichtiges kulturelles Zentrum. Vor allem im Sommer trafen sich Kunstschaffende, Mäzene und künstlerisch begeisterte Amateure an den Gestaden des Wörthersees.</p>
                            </div>   
                       </div>
                       <!-- single section -->
                        <!-- single section -->
                       <div class="single-block" :class="{'active-block' :selectedAccordion == 'accord2'}">
                        <div class="header-blk w-full h-auto" @click="toggleAccordion('accord2')">
                            <h3><i></i>VARIANTENREICHES GLITZERN</h3>
                        </div>
                        <div class="content-body">
                            <p>Türkisblaues, bis zu 28 Grad warmes Wasser mit Trinkwasserqualität, unzählige Sonnenstunden, entspannte Leichtigkeit. Der Wörthersee präsentiert sich uns von der Sonnenseite. Wir schwimmen im mediterranen Lebensgefühl, das man in dieser Form nur mitten in Kärnten findet, auf der Südseite der österreichischen Alpen. Wo der Sommer früher beginnt und dafür später endet. Von der Mitte des 19. Jahrhunderts bis in die Dreißiger Jahre des 20. Jahrhunderts war der Wörthersee ein besonders wichtiges kulturelles Zentrum. Vor allem im Sommer trafen sich Kunstschaffende, Mäzene und künstlerisch begeisterte Amateure an den Gestaden des Wörthersees.</p>
                        </div>   
                   </div>
                   <!-- single section -->
                        <!-- single section -->
                       <div class="single-block" :class="{'active-block' :selectedAccordion == 'accord3'}">
                        <div class="header-blk w-full h-auto" @click="toggleAccordion('accord3')">
                            <h3><i></i>ERLESENES NATURJUWEL</h3>
                        </div>
                        <div class="content-body">
                            <p>Türkisblaues, bis zu 28 Grad warmes Wasser mit Trinkwasserqualität, unzählige Sonnenstunden, entspannte Leichtigkeit. Der Wörthersee präsentiert sich uns von der Sonnenseite. Wir schwimmen im mediterranen Lebensgefühl, das man in dieser Form nur mitten in Kärnten findet, auf der Südseite der österreichischen Alpen. Wo der Sommer früher beginnt und dafür später endet. Von der Mitte des 19. Jahrhunderts bis in die Dreißiger Jahre des 20. Jahrhunderts war der Wörthersee ein besonders wichtiges kulturelles Zentrum. Vor allem im Sommer trafen sich Kunstschaffende, Mäzene und künstlerisch begeisterte Amateure an den Gestaden des Wörthersees.</p>
                        </div>   
                   </div>
                   <!-- single section -->
                        <!-- single section -->
                       <div class="single-block" :class="{'active-block' :selectedAccordion == 'accord4'}">
                        <div class="header-blk w-full h-auto" @click="toggleAccordion('accord4')">
                            <h3><i></i>GESPIEGELTE PARALLELWELTEN</h3>
                        </div>
                        <div class="content-body">
                            <p>Türkisblaues, bis zu 28 Grad warmes Wasser mit Trinkwasserqualität, unzählige Sonnenstunden, entspannte Leichtigkeit. Der Wörthersee präsentiert sich uns von der Sonnenseite. Wir schwimmen im mediterranen Lebensgefühl, das man in dieser Form nur mitten in Kärnten findet, auf der Südseite der österreichischen Alpen. Wo der Sommer früher beginnt und dafür später endet. Von der Mitte des 19. Jahrhunderts bis in die Dreißiger Jahre des 20. Jahrhunderts war der Wörthersee ein besonders wichtiges kulturelles Zentrum. Vor allem im Sommer trafen sich Kunstschaffende, Mäzene und künstlerisch begeisterte Amateure an den Gestaden des Wörthersees.</p>
                        </div>   
                   </div>
                   <!-- single section -->
                         

                    </div>
                </div>

                <div class="min-h-0 md:min-h-836">  
                        <img class="w-full h-full object-cover" src="@/assets/images/content_img2.jpg" alt="image"> 
                </div>
                </div>
            </div>
        </section> 
  </div>
</template>

<script>
import Loader from '@/components/Loader.vue';

export default {
  name: 'Home',
  components: {
    Loader
  },
  data() {
    return { 
      isLoading: true,
      selectedAccordion: 'accord1',
      menuOpen: this.false 
    };
  },
  mounted() {
    setTimeout(() => {
      this.isLoading = false;
    }, 3000);
  },
  methods: {
    toggleAccordion: function(accordion) {
        console.log(this.selectedAccordion);
        if (this.selectedAccordion == accordion) {
            console.log(this.selectedAccordion);
            this.selectedAccordion = '';
            return false;
        }
      this.selectedAccordion = accordion;
    },

    toggleMenu: function() {
      this.menuOpen = !this.menuOpen;
    }
  },
  computed: {
  }
}
</script>
