<template>
  <!-- page load block -->
        <div style="z-index:99999;" :class="{ loader: true, fadeout: !isLoading }" class="overlay-bloc bg-secondary w-full h-screen fixed left-0 top-0 flex items-center justify-center ">
            <div class="flex flex-col items-center max-w-270">
                <img src="@/assets/images/logo_aenea.png" alt="logo" style="width:197px;">
                <h4 class="pt-50 px-5 md:px-0 text-center text-smsize md:text-intro font-sans uppercase max-w-270 tracking-intro">Der schönste Platz<br> am Wörthersee</h4>
            </div>
            <p class="absolute bottom-5 px-5 md:px-0 text-smsize  w-full text-center uppercase tracking-small">SEKIRN bei REIFNITZ AM WÖRTHERSEE</p>
        </div>
        <!-- page load block -->
  
        



</template>

<script>
export default {
    name: "Loader",
    props: ["isLoading"]
};
</script>
<style>
.fadeout {
  animation: fadeout 2s forwards;
}

@keyframes fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
</style>