@tailwind base;
@tailwind components;

/* custom style */

@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'noto_sansregular';
        src: url('../../fonts/notosans-regular-webfont.woff2') format('woff2'), url('../../fonts/notosans-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'noto_sansitalic';
        src: url('../../fonts/notosans-italic-webfont.woff2') format('woff2'), url('../../fonts/notosans-italic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'noto_sansbold';
        src: url('../../fonts/notosans-bold-webfont.woff2') format('woff2'), url('../../fonts/notosans-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'noto_sansbold_italic';
        src: url('../../fonts/notosans-bolditalic-webfont.woff2') format('woff2'), url('../../fonts/notosans-bolditalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-header uppercase;
    }
    h1 {
        @apply text-h1 leading-mainh1 tracking-h1;
    }
    h2 {
        @apply text-h2 leading-mainh2 tracking-h2;
    }
    h3 {
        @apply text-h3 leading-mainh3 tracking-h3;
    }
    h4 {
        @apply text-h4;
    }
    h5 {
        @apply text-h5;
    }
    h6 {
        @apply text-h6;
    }
    p {
        @apply text-p leading-para tracking-para font-sans;
    }
    .main-button {
        @apply w-auto float-left h-auto py-18 font-header px-35 tracking-para md:tracking-btn bg-primary text-p md:text-h5 text-white uppercase leading-none duration-100 delay-100;
    }
    .main-button:hover {
        @apply bg-black text-primary;
    }
    /* page styling */
    .banner-content {
        @apply w-full h-auto pr-5 md:pr-12 text-right absolute top-60 right-0 max-w-1100;
    }
    .banner-content h1 {
        @apply text-white text-4xl leading-10 tracking-normal md:tracking-h1 md:text-h2 md:leading-mainh2 xl:leading-mainh1 xl:text-h1;
    }
    .single-image-block{
        @apply relative;
    }
    .listing-container{
        @apply w-full px-5 md:px-0 py-10 lg:py-100 pb-10 lg:pb-230;
    }
    .listing-container ul{
        @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 grid-rows-1 sm:grid-rows-3 md:grid-rows-2 gap-y-10 sm:gap-x-47 sm:gap-y-20 md:gap-y-133 max-w-1200 mx-auto pt-10 sm:pt-20 lg:pt-160;
    }
    .listing-container ul li{
        @apply max-w-none sm:max-w-360 flex items-center flex-col ;
    }
    .icon-block{
        @apply w-full h-auto float-left flex justify-center mb-5 sm:mb-34;
    }
    .icon-block img{
        @apply w-full max-w-188 max-h-60;
    }
    .listing-container ul li h3{
        @apply max-w-270 text-center float-left;
    }
    .details-blockouter{
        @apply w-full h-auto pt-10 lg:pt-100 pb-0 md:pb-10 lg:pb-72 px-5 bg-lighterbg;
    }
    .details-blockouter h3{
        @apply pb-18;
    }
    .details-blockouter p{
        @apply pb-12;
    }
    .details-blockouter p span{
        @apply w-full;
    }
    .single-block{
        @apply w-full h-auto py-5 ;
    }
    .footer-outercont {
        @apply bg-lighterbg w-full px-5 py-10 md:py-75 relative z-999;
    }
    .trigger-navblock{
        @apply cursor-pointer max-w-165 absolute top-1/2 text-white  left-16 text-h3 leading-10 tracking-h3 font-header uppercase;
    }
    .nav-main-outercont {
        @apply w-384 h-screen bg-white fixed md:absolute top-0 z-100;
    }
    .inner-main-title {
        @apply text-left text-h2 tracking-para md:tracking-h3 lg:tracking-h1 leading-10 xl:text-h1 w-auto md:float-right md:text-right relative  md:leading-mainh2 xl:leading-mainh1 pb-5 xl:pb-11;
    }
    .inner-main-title span{
        @apply whitespace-nowrap;
    }
    .back-btn-bottom {
        @apply bg-white text-center text-h3 leading-mainh3 tracking-h3 font-header uppercase py-10 md:py-72  xl:py-100;
    }
    .back-btn-bottom a:hover {
        @apply text-primary;
    }
    .back-linkblk{
        @apply text-h3 leading-mainh3 tracking-h3 font-header uppercase pl-5 md:pl-160
    }
    .back-linkblk a:hover {
        @apply text-primary;
    }
    .content-body {
     @apply pt-0 pl-33;
    } 
    .single-block.active-block .content-body p {
        @apply pt-5;
    }
}
 
@layer components {}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.logo-outer {
    width: 138px;
    height: auto;
    float: left;
}

.logo-outer img {
    width: 100%;
}


/* navigation trigger button on mobile */

.nav-trigger {
    width: 30px;
    height: 18px;
    float: left;
    cursor: pointer;
    display: none;
}

.trigger-navblock {
    z-index:100;
    margin-top: 47px;
}

.nav-trigger span {
    width: 30px;
    height: 2px;
    background: #a8804c;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    position: relative
}

.nav-trigger span:nth-child(1) {
    margin: 0
}

.nav-trigger span:nth-child(2) {
    margin-top: 6px;
    opacity: 1
}

.nav-trigger span:nth-child(3) {
    margin-top: 6px
}

.nav-trigger.nav-active span {
    background: #a8804c
}

.nav-trigger.nav-active span:nth-child(1) {
    opacity: 0
}

.nav-trigger.nav-active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0
}

.nav-trigger.nav-active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
    margin-top: -2px
}
.single-image-block .image-container{
    width: 100%;
    height: 360px;
    position: relative;
    line-height: 1px;
} 
.single-image-block .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.large-image-block .large-imagecontainer{
    width: 100%;
    height: 720px;
    position: relative;
    line-height: 1px;
}
.large-image-block .large-imagecontainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-container:after{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: rgba(222,215,205, .7);
    opacity: 1;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.trigger-navblock{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.single-image-block:hover .image-container:after{
    opacity: .5;
}
.title-cont {
    width: auto;
    height: auto;
    position: absolute; 
    z-index: 99;
} 

.title-cont:before {
    width: 100%;
    height:55px;
    content: "";
    background: #FFFFFF;
    position: absolute;  
    z-index: 0;
}
.title-cont.center-title:before { 
    width: 90%;
    left: -35px;
    top: -12px;
    right: auto;
}  
.title-cont:before { 
    width: 92%;
    right: -27px;
    top: -12px;
} 

.title-cont h2 { 
   position: relative;
   z-index: 1;
} 
 
.single-block h3 { 
    width: 100%;
    height: auto;
    position: relative;
    padding-left: 33px;
    cursor: pointer;
 }
 .single-block h3 i{
    width: 18px;
    height: 18px;
    background: url(../images/accor_icon.svg) no-repeat center center;
    background-size: 18px 118px;
    float: left;
    position: absolute;
    left: 0;
 }
 .single-block.active-block i{
    background: url(../images/accor_icon_active.svg) no-repeat center center;
    background-size: 18px 118px; 
 }
 
 .footer-outercont .footer-logo-block{
     width: 100%;
     float: left;
     max-width: 300px;
     display: flex;
     align-items: center;
     justify-content: flex-end;

 }
 .footer-outercont .footer-logo-block img{ 
     max-width:138px;
     float: right;
 }
 .footer-outercont  .right-cont-block{
    width: 100%;
    float: right;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .footer-outercont .navigation{
     max-width: 180px;
 }
 .footer-outercont .navigation li  {
     width: 100%;
     float: left;
 }
 .footer-outercont .navigation li a{
    width: 100%;
    float: left;
     text-align: right;
     font-size: 16px;
     font-family: 'noto_sansbold';
     line-height: 1.375rem;
     letter-spacing: 0.13rem;
     padding: 7px 0 8px 0;
 }
 .footer-outercont .navigation li a:hover{
    color: #a8804c;
 }
 .footer-outercont .contact-block{
    max-width: 220px;
    float: right;
    text-align: left; 
 }
 .footer-outercont .contact-block h3{
    width: 100%;
    float: left;
    padding-bottom: 19px;
 }
 .footer-outercont .contact-block a{
    width: 100%;
    float: left; 
 }
 .footer-outercont .contact-block a:hover{
    color: #a8804c;
 }
 .footer-outercont .contact-block  p{
    letter-spacing: normal;
 }
 .footer-outercont .contact-block .icons-blk{
     width: 100%;
     height: auto;
     display: flex;
     justify-content: flex-start;
     padding-top: 8px;
 }
 .footer-outercont .contact-block .icons-blk a{
     width: 22px;
     height: 22x;
     float: left;
     margin-right: 10px;
 }
 .trigger-navblock i{
    width: 22px;
    height: 36px;
    float: left;
    background:url(../images/arrow_right.svg) no-repeat center center ;
    background-size: 22px 36px;
    margin-right: 18px;
 }
 .menu--active .trigger-navblock, .trigger-navblock.nav-activetrigger {
    left: 334px;
    z-index: 1000;
 }
 .menu--active .trigger-navblock i, .trigger-navblock.nav-activetrigger i{
    width: 22px;
    height: 36px;
    float: left;
    background:url(../images/arrow_left.svg) no-repeat center center ;
    background-size: 22px 36px;
    margin-right: 18px;
 }
 .menu--active .trigger-navblock span, .trigger-navblock.nav-activetrigger span{
    display: none;
 }





 .nav-main-outercont{
    left: -384px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.nav-main-outercont.nav-active-blk{
    left: 0;
}

.menu--active .nav-main-outercont{
    left: 0;
}


 .nav-main-outercont ul{
    width: 100%;
    height: auto;
    float: left;
 }
 .nav-main-outercont ul li  {
     width: 100%;
     float: left;
 }
 .nav-main-outercont ul li a{
    width: 100%;
    float: left;
     text-align: left;
     font-size: 16px;
     font-family: 'noto_sansbold';
     line-height: 1.375rem;
     letter-spacing: 0.13rem;
     padding: 12px 0;
 }
 .nav-main-outercont ul li a:hover{
    color: #a8804c;
 }
 .nav-main-outercont .contact-block{
    max-width: 220px;
    float: left;
    text-align: left; 
    position:absolute;
    bottom:75px;
 }
 .nav-main-outercont .contact-block h3{
    width: 100%;
    float: left;
    padding-bottom: 19px;
 }
 .nav-main-outercont .contact-block a{
    width: 100%;
    float: left; 
 }
 .nav-main-outercont .contact-block a:hover{
    color: #a8804c;
 }
 .nav-main-outercont .contact-block  p{
    letter-spacing: normal;
 }
 .nav-main-outercont .contact-block .icons-blk{
     width: 100%;
     height: auto;
     display: flex;
     justify-content: flex-start;
     padding-top: 8px;
 }
 .nav-main-outercont .contact-block .icons-blk a{
     width: 22px;
     height: 22x;
     float: left;
     margin-right: 10px;
 }

.inner-main-title{
    margin-top: -6px;
}
 .inner-main-title span {
    z-index: 99;
    position: relative;
 }
    .inner-main-title:before { 
    height:59px;
    content: "";
    background: #DED7CD;
    position: absolute;  
    z-index: 0; 
    width: 90%;
    left: -38px;
    top: -4px;
    right: auto;
}
.gallery-outercont ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.single-block{
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.content-body {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.single-block.active-block .content-body {
    opacity: 1;
    height: auto;
}


/* navigation trigger button on mobile */

@media only screen and (max-width: 1535px) {}

@media only screen and (max-width: 1279px) {
        
    .title-cont h2 { 
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.10rem;
    } 
    .title-cont::before {
        height: 35px;
    }
    .single-image-block .image-container{
        height: 250px;
    }
    .single-image-block .image-container{
        height: 250px;
    }
    .large-image-block .large-imagecontainer{
        height: 500px;
    }   
     .inner-main-title:before { 
        height:40px;
    }
    .inner-main-title{
        margin-top: 0;
    }
}
 
@media only screen and (min-width: 768px) and (max-height: 730px) {
    .nav-main-outercont .contact-block{
        position: relative; 
        left: 0;
        bottom: 0;
        padding: 40px 0;
    }
    .nav-main-outercont{
        overflow: hidden;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 992px) {
    .title-cont h2 { 
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0.10rem;
    } 
    
 .footer-outercont .footer-logo-block{
     justify-content: flex-start;
 }
}

@media only screen and (max-width: 767px) {
    header{
        box-shadow: 1px 6px 16px -11px rgba(0,0,0,0.15);
    -webkit-box-shadow: 1px 6px 16px -11px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 6px 16px -11px rgba(0,0,0,0.15);
    }
    .nav-trigger {
        display: block;
    }
    .title-cont.center-title, 
    .title-cont{
        left: 50%!important;
        margin-left: 0!important;
        -webkit-transform: translate(-50%)!important;
        -ms-transform: translate(-50%)!important;
                transform: translate(-50%)!important;
    }
    .title-cont h2{ 
        white-space: nowrap;
    }
    .footer-outercont .footer-logo-block{ 
        max-width: none; 
        justify-content: center;
        padding-bottom: 40px;
   
    }
    .footer-outercont .right-cont-block{
        max-width: none;
        width: 100%;
        flex-direction: column; 
    }
    .footer-outercont .navigation {
      padding-bottom: 40px;
      max-width: 280px;
    }
    .footer-outercont .navigation li a{
        text-align: center;
    }
    .footer-outercont .contact-block{
        max-width: 280px;
        text-align: center;
    }
    .footer-outercont .contact-block .icons-blk{
        justify-content: center;
    }
    .trigger-navblock{
        display: none;
    }
    .nav-main-outercont .contact-block{
        bottom: 40px;
    }
    .inner-main-title{
        float: left;
    }
    .inner-main-title::before { 
        left: -17px;
        top: -22px;
    }
   .back-linkblk{display: none;}
   .logo-outer a{padding: 5px 0;}
   .logo-outer img{width: 90%;}
}
@media only screen and (max-width: 767px) {
    .nav-main-outercont{
        width: 300px;
    } 
    .nav-main-outercont ul li a{
        padding: 10px 0;
    }
}