<template>
    <Header></Header>
    <router-view/>
    <Footer></Footer>
</template>

<script>
import Header from './components/includes/Header.vue';
import Footer from './components/includes/Footer.vue';


export default {
    name: 'App',
    components: {
        Header,
        Footer
    },
    methods: {
        toggleBodyClass(addRemoveClass, className) {
            const el = document.body;

            if (addRemoveClass === 'addClass') {
                el.classList.add(className);
            } else {
                el.classList.remove(className);
            }
        },
    }
};
</script>